/*************************************/
/* Configuración general             */
/*************************************/

body {
    margin: 20px;
    background-color:  #82e0aa;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #82e0aa;
    height: 100vh;
}
  
.box {
    color: #000000;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 100%;
}

/*************************************/
/* Configuración de la barra lateral */
/*************************************/

.sidebar {
    grid-area: sidebar;
	background-image: url('../Imagenes/cabecera.png');
	background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

/*************************************/
/* Configuración de las actividades  */
/*************************************/

.content {
    grid-area: content;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: #eafef1;
    padding: 30px;
}

.actividad{
    background-color: #eafef1;
    text-align: center;
}

.actividad a{
    text-decoration: none;
}

.actividad p{
    color: #003316;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.imagen{
    width: 400px;
    height: 400px;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
	max-width: 100%;
}

/*************************************/
/* Configuración de la cabecera      */
/*************************************/

.header {
    grid-area: header;
	display: grid;
    text-align: center;
    /* background-color: #d4efdf; */
    background-image: url('../Imagenes/cabecera.png');
    background-size: cover; /* Cubre toda el área del cuerpo */
    background-position: center; /* Centra la imagen */
    align-items: center;
    padding: 5px;
    grid-template-areas:
    "logo titulo titulo titulo"
    "logo menu menu menu";
}

.logo{
    grid-area: logo;
    width: 100px;
}

.titulo{
    grid-area: titulo;
    color: #0e6251; 
    font-size: 80px;
    font-weight: bold;
    font-family: "Jost",sans-serif;;
	margin: 0;
	text-align: left;
    margin-left: 300px;
}

.menu{
    grid-area: menu;
    display: flex;
	text-align: left;
	margin: 0;
    margin-left: 400px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
    color: #003316;
}

.boton{
	margin-right: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.boton a{
    text-decoration: none;
}

.boton a:hover{
	color: #82e0aa;
}

/*************************************/
/* Configuración del pie de página   */
/*************************************/
  
.footer {
    grid-area: footer;
    text-align: center;
    background-color:  #145a32;
    padding: 10px;
}

/* Estilo para el enlace que hay en el "footer" */
.footer a{
	color: black;
	text-decoration: none;
}

/* Estilo del enlace cuando pasa el ratón sobre él */
.footer a:hover{
	color: #7dcea0;
	text-decoration: underline;
}

