body {
    margin: 20px;
    background-color: #edbb99 ;
}
  
.sidebar {
    grid-area: sidebar;
}
  
.content {
    grid-area: content;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.content img{
    max-width: 100%;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: ;
}
  
.footer {
    grid-area: footer;
    text-align: center;
}
  
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 4fr 0.5fr;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #edbb99 ;
    height: 100vh;
}
  
.box {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 50px;
    font-size: 100%;
}

.actividad{
    background-color: #ffffff;
    text-align: center;
}

.imagen{
    width: 200px;
    height: 200px;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}